<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/javascripts/database.js" type="module"></script>
    <script src="/javascripts/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <title><%= title %></title>
</head>
<body>
<header>
    <%- include('./navbar.ejs') %>
</header>
<main>
    <div>
        <p id="title_indiv"><%= title %></p>
        <p id="author_indiv"> by <%= author %></p>
    </div>
    <hr/>

    <img id="individualimage" src=<%= imageUrl %>>
    <p><%= description %></p>
</main>
</body>
</html>
